In [1]:
import pandas as pd

In [11]:
# Contoh DataFrame
data = {
    'Name': ['John', 'Alice', 'Bob', 'Eve'],
    'Age': [25, 30, 35, 40],
    'Birthdate': ['1996-05-10', '1992-08-20', '1987-12-05', '1982-04-15'],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Seattle']
}

df = pd.DataFrame(data)
date_col = ['Birthdate']
object_columns = [col for col in df.select_dtypes(include='O')]
num_columns = [col for col in df.select_dtypes(exclude='O') if col not in date_col]

print(f'Object Columns: \n{object_columns}\n')
print(f'Numeric Columns: \n{num_columns}\n')
print(f'Date Columns: \n{date_col}')

Object Columns:
['Name', 'Birthdate', 'City']

Numeric Columns:
['Age']

Date Columns:
['Birthdate']

In [12]:
df.head()

    Name  Age   Birthdate         City
0   John   25  1996-05-10     New York
1  Alice   30  1992-08-20  Los Angeles
2    Bob   35  1987-12-05      Chicago
3    Eve   40  1982-04-15      Seattle